body {
    font-family: sans-serif;
    color: black;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: darkred;
}

@media(min-width: 700px) {
    body {
        width: 700px;
    }
}