body {
    font-family: sans-serif;
    color: black;
}

div #disclaimer {
    float: right;
    font-size: 11px;
}

header {
    padding-bottom: 10px;
}

header h1 {
    text-align: center;
    padding-top: 15px;
}

header h1 a {
    text-decoration: none;
    color: black;
}

footer {
    position: static;
    bottom: 0;
    text-align: center;
}


h2.indexHeader {
    clear: both;
    background-color: #bbbbbb;
}

a {
    color: #0000aa;
}


.publications em {
    font-weight: bold;
}

#contact {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 10px;
    padding-left: 10px;
    list-style-type: square;
}
ul li {
    margin-top: 10px;
}

ul li ul {
    list-style-type: circle;
}
ul li ul li {
    margin-top: 2px;
}

#contact li {
    float: left;
    width: 100%;
    min-width: 160px;
    text-align: center;
    margin-bottom: 15px;
}

a img {
    border: none;
}

#social {
    float: left;
}

#global {
    margin: 0px 0px 0px 0px;
    background: white;
    padding: 0px 0px 0px 0px;
    border: none;
    border-radius: 0;
    width: auto;
}

#global p {
    margin-left: 10px;
    margin-right: 10px;
}

#entryBody {
    clear: both;
    margin-left: 10px;
    margin-right: 10px;
}

#entryBody h1 {
    background-color: #bbbbbb;
}
#entryBody h1 a {
    color: black;
}

div.postedDate {
    font-size: 11px;
}

.goback {
    text-align: right;
    border-top: solid 2px #bbbbbb;
    border-bottom: solid 2px #bbbbbb;

}
@media(min-width: 700px) {
    body {
        background-color: #bbbbbb;
        padding: 0px;
        margin: 0px 0px 0px 0px;
    }

    h1 { font-size: 28px; }

    #global {
        width: 700px;
        padding: 0px 5px 5px 5px;
        margin: 0px auto auto;
        border-radius: 10px;
    }
}