[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A homecrafted Blog Written in Golang as a learning exercise
[access "refs/*"]
	owner = group user/Mario Macías (mariomac)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mario Macías (mariomac)
	label-Verified = -1..+1 group user/Mario Macías (mariomac)
	push = group user/Mario Macías (mariomac)
	read = group user/Mario Macías (mariomac)
	rebase = group user/Mario Macías (mariomac)
	removeReviewer = group user/Mario Macías (mariomac)
	submit = group user/Mario Macías (mariomac)
[access "refs/heads/*"]
	create = group user/Mario Macías (mariomac)
	push = +force group user/Mario Macías (mariomac)
	pushMerge = group user/Mario Macías (mariomac)
	read = group user/Mario Macías (mariomac)
[access "refs/tags/*"]
	push = group user/Mario Macías (mariomac)
	push = +force group user/Mario Macías (mariomac)
