# To install goblog as a service:
#
# useradd goblog -s /sbin/nologin -M
# go build src/blog.go
# cp blog /usr/bin/goblog
# apt-get install libcap2-bin -y
# setcap 'cap_net_bind_service=+ep' /usr/bin/goblog
# cp etc/goblog.service /lib/systemd/system/goblog.service
# systemctl enable goblog.service
# systemctl start goblog
#
# To see logs: journalctl -f -u goblog

[Unit]
Description=GoBlog service
ConditionPathExists=/usr/bin/goblog
After=network.target

[Service]
Type=simple
User=goblog
Group=goblog
LimitNOFILE=1024
Environment=GOBLOG_PORT=80
Environment=GOBLOG_ROOT=/var/goblog/etc/macias.info

Restart=on-failure
RestartSec=10
startLimitIntervalSec=60

ExecStart=/usr/bin/goblog

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/goblog
ExecStartPre=/bin/chown syslog:adm /var/log/goblog
ExecStartPre=/bin/chmod 755 /var/log/goblog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=goblog