<!-- Template for the Entry index page -->

<html>
<head>
  <title>{{.Title}}. Blog template</title>
  {{ template "html_head" }}
</head>
<body>
{{ template "header" }}
<hr/>
<!-- Entry title link -->
<h2><a href="/entry/{{.FileName}}">{{.Title}}</a></h2>

{{if not .Time.IsZero}}
  <div>
    Posted on {{.Time.Month}} {{.Time.Day}}, {{.Time.Year}}
    at {{.Time.Hour}}:{{.Time.Minute}}
  </div>
{{end}}
<hr/>

<!-- Entry HTML-rendered contents -->
{{.HTML}}

<hr/>

{{ template "footer" }}
</body>
</html>