<!-- Template for the Entry index page -->

<html>
{{ template "html_head" }}
<body>
<div id="global">
    {{ template "header" }}
    <div id="entryBody">
        <!-- Entry title link -->
        <h1><a href="/entry/{{.FileName}}">{{.Title}}</a></h1>

        {{if .Time}}
        <div class="postedDate">
            Posted on {{.Time.Month}} {{.Time.Day}}, {{.Time.Year}}
            at {{.Time.Hour}}:{{.Time.Minute}}
        </div>
        {{end}}

        <!-- Entry HTML-rendered contents -->
        {{.Html}}
    </div>
    <div class="goback">
        <a href="/">Go back to the index...</a>
    </div>
    {{ template "footer" }}
</div>
</body>
</html>