{{ define "header" }}
<header>
    <h1><a href="/">Mario Macias' handcrafted blog</a></h1>
    <div id="social" style="text-align: left;">
        <a href="http://es.linkedin.com/in/mariomac">
            <img src="/static/index/linkedin.png" alt="LinkedIn"/></a>
        <a href="http://www.flickr.com/photos/mario_79/">
            <img src="/static/index/flickr.png" alt="Flickr"/></a>
        <a href="http://github.com/mariomac"><img src="/static/index/github.png" alt="Github"/></a>
        <a href="http://www.youtube.com/channel/UCBOEvH985Fsk2n4afs2SnkA">
            <img src="/static/index/youtube.png" alt="Youtube"/></a>
        <a href="http://www.twitter.com/MaciasUPC"><img src="/static/index/twitter.png" alt="Twitter"/></a>
    </div>
    <div id="disclaimer">Written in <a href="http://www.golang.org">Go language</a> as a self-learning exercise</div>
</header>
{{ end }}