<!-- Template for the main index page -->
<html>
    {{ template "html_head" }}
<body>
<div id="global">
    {{ template "header" }}

    <!-- Some blog pages (not counted as an timestamped blog entry) -->
    <ul>
        <li><a href="/entry/about.md">About this blog</a></li>
    </ul>

    <!-- Some dynamic contents. E.g. Entries list: -->
    <h2 class="indexHeader">Latest entries</h2>
    <ul>
        {{ range entries}}
        <li><a href="/entry/{{.FileName}}">{{.Title}}</a> {{.Time.Month}}
            {{.Time.Day}}, {{.Time.Year}} at {{.Time.Hour}}:{{.Time.Minute}}</li>
        {{ end }}
    </ul>

    {{ template "footer" }}
</div>
</body>
</html>