<!DOCTYPE html>
<html lang="en">

{{ template "html_head" . }}

<body>

{{ template "navbar" }}

<!-- Page Header -->
<header>
  <h1>{{.Title}}</h1>
  <!--h2 class="subheading">Problems look mighty small from 150 miles up</h2-->
    {{if .Time}}
      <p>Posted on {{.Time.Month}} {{.Time.Day}}
        , {{.Time.Year}}</p>
    {{end}}
</header>

<!-- Entry HTML-rendered contents -->
<!-- Post Content -->
<article>
  <section class="article-body">
      {{.HTML}}
  </section>
  <!-- disqus -->
  <hr>
  <section>
    <div id="disqus_thread"></div>
  </section>
</article>

<hr>

<!-- Footer -->
{{ template "footer" }}
</body>

</html>
