{{ define "html_head" }}
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mario Macias' handcrafted blog">
    <meta name="author" content="Mario Macias">
    <meta name="robots" content="index, follow"/>

    <link rel="alternate" type="application/atom+xml" title="Blog"
          href="/atom.xml"/>

    <!-- Page styles -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <!-- custom fonts -->
    <link href="/static/vend/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    <!-- Umami analytics -->
    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="427aa0db-2e2f-4eb9-a950-697288d3bbb7"></script>
{{ end }}
