<!DOCTYPE html>
<html lang="en">

{{ template "html_head" }}

<body>
{{ template "navbar" }}

<!-- Page Header -->
<header>
  <h1>Home crafted blog</h1>
  <div>Written in <a href="http://www.golang.org">Go language</a> as a self-learning exercise
  </div>
</header>

<!-- Main Content -->
<section>
    {{ range entries}}
      <article>
        <h2 class="post-title">
          <a href="/entry/{{.FileName}}">{{.Title}}</a>
        </h2>
        <p class="post-subtitle">
            {{.Preview}}
        </p>
        <p class="post-meta"><a href="/entry/{{.FileName}}">Posted on {{.Time.Month}} {{.Time.Day}}
            , {{.Time.Year}}</a> (<a href="http://macias.info/entry/{{.FileName}}#disqus_thread"></a>)</p>
      </article>
    {{ end }}
</section>

<hr>

{{ template "footer" }}

<!-- Disqus -->
<script id="dsq-count-scr" src="//maciasinfo.disqus.com/count.js"
        async></script>
</body>

</html>
