{{ define "navbar" }}
  <!-- Navigation -->
  <nav>
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
          <a href="/">Mario Macías Lloret</a>
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>

    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/entry/about.md">About</a>
      <a href="https://www.amazon.es/Programaci%C3%B3n-2ed-Mario-Macias-Lloret-ebook/dp/B0BCH5G68W">Book</a>
    </div>
  </nav>
{{ end }}
